/dot-emacs.d/auto-save-list/
/dot-emacs.d/eln-cache/
/dot-emacs.d/elpa/
/dot-emacs.d/projects
/dot-emacs.d/transient/
/dot-emacs.d/recentf
/dot-emacs.d/tree-sitter/
/dot-emacs.d/eshell/
/dot-emacs.d/url/
/dot-emacs.d/tramp
/dot-emacs.d/bookmarks
/dot-emacs.d/.chatgpt-shell.el
/dot-emacs.d/elpy/
